.full-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.full-background .background {
  width: 100vw;
  opacity: 0.4;
  position: absolute;
}
.background {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.header-text {
  z-index: 1;
}
.subheader {
  font-size: 2.4rem !important;
}
.white {
  color: white !important;
}
